## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [6]:
data = {'國家': ['美國', '中國', '德國', '日本', '泰國'],
        '人口': np.random.randint(9999,size=5)}
data = pd.DataFrame(data)
print(data)

   國家    人口
0  美國   462
1  中國  2783
2  德國  6840
3  日本  9641
4  泰國  1549

In [42]:
sortdata = data.groupby(by="人口").max()
sortdata

      國家
人口
462   美國
1549  泰國
2783  中國
6840  德國
9641  日本